<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="story-card">
        <div class="story_title">
          <h2><%= @story.title %></h2>
        </div>
        <div class="story-text">
          <p><%= @story.text %></p>
        </div>
        <div class="story-review">
          <p><%= link_to "Retour", stories_path %>
          <p><%= link_to "Laisser un commentaire", new_story_review_path(@story) %>
          <%= button_to 'Like', story_likes_path(@story), method: :post%>
        </div>
        <div class="all-reviews">
          <ul class="list-group">
            <% @story.reviews.each do |review| %>
              <li class="list-group-item">
                <%= review.content %>
                <% if current_user && current_user == review.user %>
                  <%= link_to "Supprimer commentaire", review_path(review), method: :delete, data: { confirm: "Êtes-vous sûr?" } %>
                <% end %>  
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>